[package]
name = "lindera-tantivy"
version = "0.16.0"
edition = "2021"
description = "Lindera Tokenizer for Tantivy."
documentation = "https://docs.rs/lindera-tantivy"
homepage = "https://github.com/lindera-morphology/lindera-tantivy"
repository = "https://github.com/lindera-morphology/lindera-tantivy"
readme = "README.md"
keywords = ["tokenizer", "tantivy", "lindera"]
categories = ["text-processing"]
license = "MIT"

[features]
default = ["ipadic"]  # Japanese dictionary
cjk = ["ipadic", "ko-dic", "cc-cedict"]
full = ["ipadic", "unidic", "ko-dic", "cc-cedict"]
ipadic = ["lindera/ipadic"]  # Japanese dictionary
unidic = ["lindera/unidic"]  # Japanese dictionary
ko-dic = ["lindera/ko-dic"]  # Korean dictionary
cc-cedict = ["lindera/cc-cedict"]  # Chinese dictionary
compress = ["lindera/compress"]

[dependencies]
tantivy = "0.18.0"

lindera = "0.16.2"

[dev-dependencies]
criterion = { version = "0.4.0", features = ["html_reports"] }

[[bench]]
name = "bench"
harness = false

[profile.release]
lto = true

# Make sure that the build scripts and proc-macros are compiled with
# all the optimizations. It speeds up the flate2 crate that we use in our build scripts.
[profile.dev.build-override]
opt-level = 3
[profile.release.build-override]
opt-level = 3
[profile.bench.build-override]
opt-level = 3
[profile.test.build-override]
opt-level = 3
