[package]
name = "lindera-tantivy"
version = "0.9.0"
edition = "2021"
description = "A Tokenizer for Tantivy, based on Lindera."
documentation = "https://docs.rs/lindera-tantivy"
homepage = "https://github.com/lindera-morphology/lindera-tantivy"
repository = "https://github.com/lindera-morphology/lindera-tantivy"
readme = "README.md"
keywords = ["tokenizer", "tantivy", "lindera"]
categories = ["text-processing"]
license = "MIT"

[dependencies]
tantivy = "0.16"

lindera = "0.9.0"
lindera-core = "0.9.0"
